openapi: 3.1.0
info:
  title: Deliverart Addresses Menu API
  version: '1.0'
  description: Deliverart is food-delivery management software for restaurants and delivery businesses, centralizing orders (Just Eat, Glovo, Deliveroo, website, phone), menu synchronization, rider/delivery management and tracking. This OpenAPI was generated by API Evangelist from the public Deliverart API reference (https://apidoc.deliverart.it) — an RPC-style API over HTTPS using GET for reads and POST for writes, with API Key (X-Deliverart-ApiKey) and OAuth2 (password grant) authentication.
  contact:
    name: Deliverart
    email: info@deliverart.it
    url: https://apidoc.deliverart.it/
  x-generated-by: api-evangelist-enrichment
  x-source: https://apidoc.deliverart.it/
servers:
- url: https://pubapi.deliverart.it
  description: Deliverart public API
security:
- oauth2: []
- apiKey: []
tags:
- name: Menu
paths:
  /menu/{id}/detail:
    get:
      operationId: menuDetail
      summary: Menu — Detail
      tags:
      - Menu
      description: Menu — Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2: []
      - apiKey: []
  /menu/create:
    post:
      operationId: menuCreate
      summary: Menu — Create
      tags:
      - Menu
      description: Menu — Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /menu/{id}/update:
    post:
      operationId: menuUpdate
      summary: Menu — Update
      tags:
      - Menu
      description: Menu — Update. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
      - apiKey: []
  /menu/categories:
    get:
      operationId: menuCategories
      summary: Menu — Categories
      tags:
      - Menu
      description: Menu — Categories. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
      - apiKey: []
  /menu/category/{id}/detail:
    get:
      operationId: menuCategoriesDetail
      summary: Menu — Categories / Detail
      tags:
      - Menu
      description: Menu — Categories / Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
        - menu_read
      - apiKey: []
  /menu/category/create:
    post:
      operationId: menuCategoriesCreate
      summary: Menu — Categories / Create
      tags:
      - Menu
      description: Menu — Categories / Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /menu/category/{id}/update:
    post:
      operationId: menuCategoriesUpdate
      summary: Menu — Categories / Update
      tags:
      - Menu
      description: Menu — Categories / Update. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/allergen/{id}/category/meta:
    post:
      operationId: menuCategoriesUpdateMetadata
      summary: Menu — Categories / Update metadata
      tags:
      - Menu
      description: Menu — Categories / Update metadata. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/category/{id}/delete:
    post:
      operationId: menuCategoriesDelete
      summary: Menu — Categories / Delete
      tags:
      - Menu
      description: Menu — Categories / Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/category/{id}/translate:
    post:
      operationId: menuCategoriesTranslate
      summary: Menu — Categories / Translate
      tags:
      - Menu
      description: Menu — Categories / Translate. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/category/{id}/sort:
    post:
      operationId: menuCategoriesSort
      summary: Menu — Categories / Sort
      tags:
      - Menu
      description: Menu — Categories / Sort. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/category/{id}/media/upload:
    post:
      operationId: menuCategoriesMediaUpload
      summary: Menu — Categories / Media / Upload
      tags:
      - Menu
      description: Menu — Categories / Media / Upload. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/category/{id}/media/remove:
    post:
      operationId: menuCategoriesMediaRemove
      summary: Menu — Categories / Media / Remove
      tags:
      - Menu
      description: Menu — Categories / Media / Remove. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_category_admin
      - apiKey: []
  /menu/allergens:
    get:
      operationId: menuAllergens
      summary: Menu — Allergens
      tags:
      - Menu
      description: Menu — Allergens. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
      - apiKey: []
  /menu/allergen/{id}/detail:
    get:
      operationId: menuAllergensDetail
      summary: Menu — Allergens / Detail
      tags:
      - Menu
      description: Menu — Allergens / Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_allergen_admin
        - menu_read
      - apiKey: []
  /menu/allergen/create:
    post:
      operationId: menuAllergensCreate
      summary: Menu — Allergens / Create
      tags:
      - Menu
      description: Menu — Allergens / Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /menu/allergen/{id}/update:
    post:
      operationId: menuAllergensUpdate
      summary: Menu — Allergens / Update
      tags:
      - Menu
      description: Menu — Allergens / Update. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_allergen_admin
      - apiKey: []
  /menu/allergen/{id}/update/meta:
    post:
      operationId: menuAllergensUpdateMetadata
      summary: Menu — Allergens / Update metadata
      tags:
      - Menu
      description: Menu — Allergens / Update metadata. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_allergen_admin
      - apiKey: []
  /menu/allergen/{id}/delete:
    post:
      operationId: menuAllergensDelete
      summary: Menu — Allergens / Delete
      tags:
      - Menu
      description: Menu — Allergens / Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_allergen_admin
      - apiKey: []
  /menu/allergen/{id}/translate:
    post:
      operationId: menuAllergensTranslate
      summary: Menu — Allergens / Translate
      tags:
      - Menu
      description: Menu — Allergens / Translate. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_allergen_admin
      - apiKey: []
  /menu/ingredients:
    get:
      operationId: menuIngredients
      summary: Menu — Ingredients
      tags:
      - Menu
      description: Menu — Ingredients. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
      - apiKey: []
  /menu/ingredient/{id}/detail:
    get:
      operationId: menuIngredientsDetail
      summary: Menu — Ingredients / Detail
      tags:
      - Menu
      description: Menu — Ingredients / Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
        - menu_read
      - apiKey: []
  /menu/ingredient/create:
    post:
      operationId: menuIngredientsCreate
      summary: Menu — Ingredients / Create
      tags:
      - Menu
      description: Menu — Ingredients / Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /menu/ingredient/{id}/update:
    post:
      operationId: menuIngredientsUpdate
      summary: Menu — Ingredients / Update
      tags:
      - Menu
      description: Menu — Ingredients / Update. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
      - apiKey: []
  /menu/ingredient/{id}/update/meta:
    post:
      operationId: menuIngredientsUpdateMetadata
      summary: Menu — Ingredients / Update metadata
      tags:
      - Menu
      description: Menu — Ingredients / Update metadata. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
      - apiKey: []
  /menu/ingredient/{id}/delete:
    post:
      operationId: menuIngredientsDelete
      summary: Menu — Ingredients / Delete
      tags:
      - Menu
      description: Menu — Ingredients / Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
      - apiKey: []
  /menu/ingredient/{id}/translate:
    post:
      operationId: menuIngredientsTranslate
      summary: Menu — Ingredients / Translate
      tags:
      - Menu
      description: Menu — Ingredients / Translate. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
      - apiKey: []
  /menu/item/{id}/detail:
    get:
      operationId: menuItemsDetail
      summary: Menu — Items / Detail
      tags:
      - Menu
      description: Menu — Items / Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2: []
      - apiKey: []
  /menu/item/create:
    post:
      operationId: menuItemsCreate
      summary: Menu — Items / Create
      tags:
      - Menu
      description: Menu — Items / Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /menu/item/{id}/update:
    post:
      operationId: menuItemsUpdate
      summary: Menu — Items / Update
      tags:
      - Menu
      description: Menu — Items / Update. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_admin
      - apiKey: []
  /menu/item/{id}/update/meta:
    post:
      operationId: menuItemsUpdateMetadata
      summary: Menu — Items / Update metadata
      tags:
      - Menu
      description: Menu — Items / Update metadata. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_admin
      - apiKey: []
  /menu/item/{id}/delete:
    post:
      operationId: menuItemsDelete
      summary: Menu — Items / Delete
      tags:
      - Menu
      description: Menu — Items / Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_admin
      - apiKey: []
  /menu/item/{id}/suspend:
    post:
      operationId: menuItemsSuspend
      summary: Menu — Items / Suspend
      tags:
      - Menu
      description: Menu — Items / Suspend. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_admin
      - apiKey: []
  /menu/item/{id}/resume:
    post:
      operationId: menuItemsResume
      summary: Menu — Items / Resume
      tags:
      - Menu
      description: Menu — Items / Resume. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_admin
      - apiKey: []
  /menu/item/{id}/translate:
    post:
      operationId: menuItemsTranslate
      summary: Menu — Items / Translate
      tags:
      - Menu
      description: Menu — Items / Translate. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - menu_admin
        - menu_item_ingredient_admin
      - apiKey: []
components:
  schemas:
    Error:
      type: object
      description: Deliverart error envelope.
      properties:
        message:
          type: string
        code:
          type: string
        errors:
          type: array
          items:
            type: object
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Deliverart-ApiKey
      description: API key issued by the Deliverart team, sent in the X-Deliverart-ApiKey header.
    oauth2:
      type: oauth2
      description: OAuth2 password grant. Token endpoint is on the auth host.
      flows:
        password:
          tokenUrl: https://auth.deliverart.it/oauth
          refreshUrl: https://auth.deliverart.it/oauth
          scopes:
            address_admin: Manage addresses
            address_create: Create addresses
            address_read: Read addresses
            company_admin: Full company management
            company_pos_read: Read company points of sale
            company_read: Read company
            create_customer: Create customers
            customer_address_create: Create customer addresses
            customer_address_read: Read customer addresses
            customer_address_update: Update customer addresses
            customer_admin: Full customer management
            customer_business_profile_create: Create customer business profiles
            customer_business_profile_read: Read customer business profiles
            customer_business_profile_update: Update customer business profiles
            customer_orders_read: Read customer orders
            customer_read: Read customers
            customer_update: Update customers
            deliveries_fee_read: Read delivery fees
            deliveries_read: Read deliveries
            delivery_admin: Full delivery management
            delivery_fee_admin: Manage delivery fees
            delivery_fee_read: Read delivery fees
            delivery_read: Read deliveries
            menu_admin: Full menu management
            menu_item_admin: Manage menu items
            menu_item_allergen_admin: Manage menu allergens
            menu_item_category_admin: Manage menu categories
            menu_item_ingredient_admin: Manage menu ingredients
            menu_read: Read menu
            order_abort: Abort orders
            order_admin: Full order management
            order_cancel: Cancel orders
            order_create: Create orders
            order_list: List orders
            order_read: Read orders
            order_update: Update orders
            point_of_sale_admin: Full point-of-sale management
            point_of_sale_read: Read points of sale
            read_customer: Read customer
            take_away_admin: Manage take-away
            take_away_read: Read take-away
            take_away_time_read: Read take-away times
            workshifts_admin: Manage workshifts
            workshifts_read: Read workshifts
