openapi: 3.1.0
info:
  title: Deliverart Addresses Orders API
  version: '1.0'
  description: Deliverart is food-delivery management software for restaurants and delivery businesses, centralizing orders (Just Eat, Glovo, Deliveroo, website, phone), menu synchronization, rider/delivery management and tracking. This OpenAPI was generated by API Evangelist from the public Deliverart API reference (https://apidoc.deliverart.it) — an RPC-style API over HTTPS using GET for reads and POST for writes, with API Key (X-Deliverart-ApiKey) and OAuth2 (password grant) authentication.
  contact:
    name: Deliverart
    email: info@deliverart.it
    url: https://apidoc.deliverart.it/
  x-generated-by: api-evangelist-enrichment
  x-source: https://apidoc.deliverart.it/
servers:
- url: https://pubapi.deliverart.it
  description: Deliverart public API
security:
- oauth2: []
- apiKey: []
tags:
- name: Orders
paths:
  /order/{id}/detail:
    get:
      operationId: ordersDetail
      summary: Orders — Detail
      tags:
      - Orders
      description: Orders — Detail. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_read
      - apiKey: []
  /order/{id}/delivery/detail:
    get:
      operationId: ordersDetailDelivery
      summary: Orders — Detail / Delivery
      tags:
      - Orders
      description: Orders — Detail / Delivery. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_read
      - apiKey: []
  /order/{id}/take-away/detail:
    get:
      operationId: ordersDetailTakeAway
      summary: Orders — Detail / Take away
      tags:
      - Orders
      description: Orders — Detail / Take away. Deliverart RPC-style endpoint (GET only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_read
      - apiKey: []
  /pos/{id}/order/init:
    post:
      operationId: ordersInit
      summary: Orders — Init
      tags:
      - Orders
      description: Orders — Init. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_create
        - order_admin
      - apiKey: []
  /order/{id}/abort:
    post:
      operationId: ordersAbort
      summary: Orders — Abort
      tags:
      - Orders
      description: Orders — Abort. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_abort
      - apiKey: []
  /order/{id}/update/note:
    post:
      operationId: ordersUpdateNote
      summary: Orders — Update / Note
      tags:
      - Orders
      description: Orders — Update / Note. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/update/payment:
    post:
      operationId: ordersUpdatePayment
      summary: Orders — Update / Payment
      tags:
      - Orders
      description: Orders — Update / Payment. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/update/customer:
    post:
      operationId: ordersUpdateCustomer
      summary: Orders — Update / Customer
      tags:
      - Orders
      description: Orders — Update / Customer. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/update/customer-address:
    post:
      operationId: ordersUpdateCustomerAddress
      summary: Orders — Update / Customer address
      tags:
      - Orders
      description: Orders — Update / Customer address. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/update/customer-business-profile:
    post:
      operationId: ordersUpdateCustomerBusinessProfile
      summary: Orders — Update / Customer business profile
      tags:
      - Orders
      description: Orders — Update / Customer business profile. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/update/menu/items:
    post:
      operationId: ordersUpdateItems
      summary: Orders — Update / Items
      tags:
      - Orders
      description: Orders — Update / Items. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/cost/create:
    post:
      operationId: ordersCostCreate
      summary: Orders — Cost / Create
      tags:
      - Orders
      description: Orders — Cost / Create. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/cost/{id}/delete:
    post:
      operationId: ordersCostDelete
      summary: Orders — Cost / Delete
      tags:
      - Orders
      description: Orders — Cost / Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_update
        - order_admin
      - apiKey: []
  /order/{id}/unset/customer:
    post:
      operationId: ordersUnsetCustomer
      summary: Orders — Unset / Customer
      tags:
      - Orders
      description: Orders — Unset / Customer. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_update
      - apiKey: []
  /order/{id}/unset/customer-address:
    post:
      operationId: ordersUnsetCustomerAddress
      summary: Orders — Unset / Customer address
      tags:
      - Orders
      description: Orders — Unset / Customer address. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_update
      - apiKey: []
  /order/{id}/unset/customer-business-profile:
    post:
      operationId: ordersUnsetCustomerBusinessProfile
      summary: Orders — Unset / Customer business profile
      tags:
      - Orders
      description: Orders — Unset / Customer business profile. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_update
      - apiKey: []
  /order/{id}/delete:
    post:
      operationId: ordersDelete
      summary: Orders — Delete
      tags:
      - Orders
      description: Orders — Delete. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - order_admin
        - order_cancel
      - apiKey: []
components:
  schemas:
    Error:
      type: object
      description: Deliverart error envelope.
      properties:
        message:
          type: string
        code:
          type: string
        errors:
          type: array
          items:
            type: object
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Deliverart-ApiKey
      description: API key issued by the Deliverart team, sent in the X-Deliverart-ApiKey header.
    oauth2:
      type: oauth2
      description: OAuth2 password grant. Token endpoint is on the auth host.
      flows:
        password:
          tokenUrl: https://auth.deliverart.it/oauth
          refreshUrl: https://auth.deliverart.it/oauth
          scopes:
            address_admin: Manage addresses
            address_create: Create addresses
            address_read: Read addresses
            company_admin: Full company management
            company_pos_read: Read company points of sale
            company_read: Read company
            create_customer: Create customers
            customer_address_create: Create customer addresses
            customer_address_read: Read customer addresses
            customer_address_update: Update customer addresses
            customer_admin: Full customer management
            customer_business_profile_create: Create customer business profiles
            customer_business_profile_read: Read customer business profiles
            customer_business_profile_update: Update customer business profiles
            customer_orders_read: Read customer orders
            customer_read: Read customers
            customer_update: Update customers
            deliveries_fee_read: Read delivery fees
            deliveries_read: Read deliveries
            delivery_admin: Full delivery management
            delivery_fee_admin: Manage delivery fees
            delivery_fee_read: Read delivery fees
            delivery_read: Read deliveries
            menu_admin: Full menu management
            menu_item_admin: Manage menu items
            menu_item_allergen_admin: Manage menu allergens
            menu_item_category_admin: Manage menu categories
            menu_item_ingredient_admin: Manage menu ingredients
            menu_read: Read menu
            order_abort: Abort orders
            order_admin: Full order management
            order_cancel: Cancel orders
            order_create: Create orders
            order_list: List orders
            order_read: Read orders
            order_update: Update orders
            point_of_sale_admin: Full point-of-sale management
            point_of_sale_read: Read points of sale
            read_customer: Read customer
            take_away_admin: Manage take-away
            take_away_read: Read take-away
            take_away_time_read: Read take-away times
            workshifts_admin: Manage workshifts
            workshifts_read: Read workshifts
