openapi: 3.1.0
info:
  title: Deliverart Addresses Registration API
  version: '1.0'
  description: Deliverart is food-delivery management software for restaurants and delivery businesses, centralizing orders (Just Eat, Glovo, Deliveroo, website, phone), menu synchronization, rider/delivery management and tracking. This OpenAPI was generated by API Evangelist from the public Deliverart API reference (https://apidoc.deliverart.it) — an RPC-style API over HTTPS using GET for reads and POST for writes, with API Key (X-Deliverart-ApiKey) and OAuth2 (password grant) authentication.
  contact:
    name: Deliverart
    email: info@deliverart.it
    url: https://apidoc.deliverart.it/
  x-generated-by: api-evangelist-enrichment
  x-source: https://apidoc.deliverart.it/
servers:
- url: https://pubapi.deliverart.it
  description: Deliverart public API
security:
- oauth2: []
- apiKey: []
tags:
- name: Registration
paths:
  /registration/register/customer:
    post:
      operationId: registrationRegisterCustomer
      summary: Registration — Register customer
      tags:
      - Registration
      description: Registration — Register customer. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /registration/register/courier:
    post:
      operationId: registrationRegisterCourier
      summary: Registration — Register courier
      tags:
      - Registration
      description: Registration — Register courier. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
  /registration/activate:
    post:
      operationId: registrationActivate
      summary: Registration — Activate
      tags:
      - Registration
      description: Registration — Activate. Deliverart RPC-style endpoint (POST only).
      responses:
        '200':
          description: Success
        '400':
          description: Invalid request or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      security:
      - oauth2: []
      - apiKey: []
components:
  schemas:
    Error:
      type: object
      description: Deliverart error envelope.
      properties:
        message:
          type: string
        code:
          type: string
        errors:
          type: array
          items:
            type: object
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Deliverart-ApiKey
      description: API key issued by the Deliverart team, sent in the X-Deliverart-ApiKey header.
    oauth2:
      type: oauth2
      description: OAuth2 password grant. Token endpoint is on the auth host.
      flows:
        password:
          tokenUrl: https://auth.deliverart.it/oauth
          refreshUrl: https://auth.deliverart.it/oauth
          scopes:
            address_admin: Manage addresses
            address_create: Create addresses
            address_read: Read addresses
            company_admin: Full company management
            company_pos_read: Read company points of sale
            company_read: Read company
            create_customer: Create customers
            customer_address_create: Create customer addresses
            customer_address_read: Read customer addresses
            customer_address_update: Update customer addresses
            customer_admin: Full customer management
            customer_business_profile_create: Create customer business profiles
            customer_business_profile_read: Read customer business profiles
            customer_business_profile_update: Update customer business profiles
            customer_orders_read: Read customer orders
            customer_read: Read customers
            customer_update: Update customers
            deliveries_fee_read: Read delivery fees
            deliveries_read: Read deliveries
            delivery_admin: Full delivery management
            delivery_fee_admin: Manage delivery fees
            delivery_fee_read: Read delivery fees
            delivery_read: Read deliveries
            menu_admin: Full menu management
            menu_item_admin: Manage menu items
            menu_item_allergen_admin: Manage menu allergens
            menu_item_category_admin: Manage menu categories
            menu_item_ingredient_admin: Manage menu ingredients
            menu_read: Read menu
            order_abort: Abort orders
            order_admin: Full order management
            order_cancel: Cancel orders
            order_create: Create orders
            order_list: List orders
            order_read: Read orders
            order_update: Update orders
            point_of_sale_admin: Full point-of-sale management
            point_of_sale_read: Read points of sale
            read_customer: Read customer
            take_away_admin: Manage take-away
            take_away_read: Read take-away
            take_away_time_read: Read take-away times
            workshifts_admin: Manage workshifts
            workshifts_read: Read workshifts
